<div>
  <%= form.label :chief_concern, class: 'block font-bold' %>
  <%= form.text_area :chief_concern, class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50', rows: 5 %>
</div>

<div>
  <%= form.label :other_symptoms, class: 'block font-bold' %>
  <%= form.text_area :other_symptoms, class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50', rows: 5 %>
</div>

<div>
  <%= form.label :tongue_diagnosis, class: 'block font-bold' %>
  <%= form.text_area :tongue_diagnosis, class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50', rows: 5 %>
</div>

<div>
  <%= form.label :pulse_diagnosis, class: 'block font-bold' %>
  <%= form.text_area :pulse_diagnosis, class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50', rows: 5 %>
</div>

<div>
  <%= form.label :abdominal_palpation, class: 'block font-bold' %>
  <%= form.text_area :abdominal_palpation, class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50', rows: 5 %>
</div>

<div>
  <%= form.label :tcm_diagnosis, class: 'block font-bold' %>
  <%= form.text_area :tcm_diagnosis, class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50', rows: 5 %>
</div>