<div>
  <%= form.label :treatment_principle, class: 'block font-bold' %>
  <%= form.text_area :treatment_principle, class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50', rows: 5 %>
</div>

<div>
  <%= form.label :formula_name, class: 'block font-bold' %>
  <%= form.text_area :formula_name, class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50', rows: 5 %>
</div>

<div>
  <%= form.label :formula_composition, class: 'block font-bold' %>
  <%= form.text_area :formula_composition, class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50', rows: 5 %>
</div>

<div>
  <%= form.label :dosage, class: 'block font-bold' %>
  <%= form.text_area :dosage, class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50', rows: 5 %>
</div>

<div>
  <%= form.label :administration, class: 'block font-bold' %>
  <%= form.text_area :administration, class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50', rows: 5 %>
</div>

<div>
  <%= form.label :acupuncture_treatment, class: 'block font-bold' %>
  <%= form.text_area :acupuncture_treatment, class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50', rows: 5 %>
</div>

<div>
  <%= form.label :diet_lifestyle, class: 'block font-bold' %>
  <%= form.text_area :diet_lifestyle, class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50', rows: 5 %>
</div>

<div>
  <%= form.label :other_treatments, class: 'block font-bold' %>
  <%= form.text_area :other_treatments, class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50', rows: 5 %>
</div>

<div>
  <%= form.label :treatment_plan, class: 'block font-bold' %>
  <%= form.text_area :treatment_plan, class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50', rows: 5 %>
</div>