<div class="mb-4">
  <%= form.label :treatment_principle, class: 'block text-gray-700 font-bold mb-2' %>
  <%= form.text_area :treatment_principle, class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 resize-none', rows: 3 %>
</div>

<div class="mb-4">
  <%= form.label :formula_name, class: 'block text-gray-700 font-bold mb-2' %>
  <%= form.text_area :formula_name, class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 resize-none', rows: 2 %>
</div>

<div class="mb-4">
  <%= form.label :formula_composition, class: 'block text-gray-700 font-bold mb-2' %>
  <%= form.text_area :formula_composition, class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 resize-none', rows: 3 %>
</div>

<div class="mb-4">
  <%= form.label :dosage, class: 'block text-gray-700 font-bold mb-2' %>
  <%= form.text_area :dosage, class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 resize-none', rows: 2 %>
</div>

<div class="mb-4">
  <%= form.label :administration, class: 'block text-gray-700 font-bold mb-2' %>
  <%= form.text_area :administration, class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 resize-none', rows: 2 %>
</div>

<div class="mb-4">
  <%= form.label :acupuncture_treatment, class: 'block text-gray-700 font-bold mb-2' %>
  <%= form.text_area :acupuncture_treatment, class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 resize-none', rows: 3 %>
</div>

<div class="mb-4">
  <%= form.label :diet_lifestyle, class: 'block text-gray-700 font-bold mb-2' %>
  <%= form.text_area :diet_lifestyle, class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 resize-none', rows: 3 %>
</div>

<div class="mb-4">
  <%= form.label :other_treatments, class: 'block text-gray-700 font-bold mb-2' %>
  <%= form.text_area :other_treatments, class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 resize-none', rows: 3 %>
</div>

<div class="mb-4">
  <%= form.label :treatment_plan, class: 'block text-gray-700 font-bold mb-2' %>
  <%= form.text_area :treatment_plan, class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 resize-none', rows: 3 %>
</div>