<div data-controller="appointment-modal">
 <div class="flex justify-center">
   <div class="bg-white rounded-lg shadow w-full">
     <div class="px-4 py-5 sm:px-6 flex justify-between items-center">
       <h3 class="text-lg leading-6 font-medium text-gray-900">
         Appointments
       </h3>
       <div class="flex items-center">
         <%= link_to "Week", appointments_path(view: 'week'), class: "px-4 py-2 rounded-l-md #{'bg-blue-500 text-white' if params[:view] != 'month'}" %>
         <%= link_to "Month", appointments_path(view: 'month'), class: "px-4 py-2 rounded-r-md #{'bg-blue-500 text-white' if params[:view] == 'month'}" %>
       </div>
     </div>
     <div class="px-4 py-5 sm:p-6">
       <% if params[:view] == 'month' %>
         <%= month_calendar(events: @appointments, class: "text-center border-collapse w-full") do |date, appointments| %>
           <div class="px-4 py-8 border border-gray-200 min-h-32" data-action="click->appointment-modal#openModal" data-appointment-modal-target="date" data-date="<%= date.strftime('%Y-%m-%d') %>">
             <div class="text-lg font-semibold text-gray-800">
               <%= date.day %>
             </div>
             <% appointments.each do |appointment| %>
              <div class="appointment" data-appointment-id="<%= appointment.id %>">
                <%= render 'appointments/appointment', appointment: appointment %>
              </div>
            <% end %>
           </div>
         <% end %>
       <% else %>
         <div class="overflow-x-auto">
           <table class="text-center border-collapse w-full table-fixed">
             <thead>
               <tr>
                 <th class="px-2 py-1 border border-gray-200 w-12"></th>
                 <% 7.times do |i| %>
                   <% date = @date_range.first + i.days %>
                   <th class="px-2 py-1 border border-gray-200 w-32">
                     <%= date.strftime('%a %d') %>
                   </th>
                 <% end %>
               </tr>
             </thead>
             <tbody>
               <% spanned_rows = {} %>
                <% (32..68).each do |index| %>
                  <% time = @date_range.first.beginning_of_day + (index * 15.minutes) %>
                  <tr>
                    <% if index % 4 == 0 %>
                      <td class="px-2 py-1 border border-gray-200 text-xs text-gray-600 w-12" rowspan="1" >
                        <%= time.strftime('%l %p') %>
                      </td>
                    <% else %>
                      <td class="px-2 py-1 border border-gray-200 w-12"></td>
                    <% end %>
                    <% 7.times do |i| %>
                      <% date = @date_range.first + i.days %>
                      <% appointments = @appointments.select { |a| a.start_time.to_date == date && a.start_time.strftime('%H:%M') == time.strftime('%H:%M') } %>
                      <% if appointments.any? %>
                        <% appointment = appointments.first %>
                        <% duration = appointment.appointment_type.duration || 60 %>
                        <% rows = duration / 15 %>
                        <% spanned_rows[i] = rows - 1 %>
                        <td class="px-2 py-1 border border-gray-200 cursor-pointer" rowspan="<%= rows %>" data-action="click->appointment-modal#showAppointment" data-appointment-id="<%= appointment.id %>">
                          <%= render 'appointments/appointment', appointment: appointment %>
                        </td>
                      <% elsif spanned_rows[i].to_i > 0 %>
                        <% spanned_rows[i] -= 1 %>
                      <% else %>
                        <td class="px-2 py-1 border border-gray-200 cursor-pointer h-8 w-32" 
                            data-action="click->appointment-modal#openModal appointment-modal#setStartTimeDropdown"
                            data-appointment-modal-target="date"
                            data-date="<%= date.strftime('%Y-%m-%d') %>"
                            data-time="<%= time.strftime('%H:%M') %>">
                        </td>
                      <% end %>
                    <% end %>
                  </tr>
                <% end %>
             </tbody>
           </table>
         </div>
       <% end %>
     </div>
   </div>
 </div>

 <!-- Modal -->
<%= render 'modal', selected_time: nil %>
<% @appointments.each do |appointment| %>
  <%= render 'show_modal', appointment: appointment %>
  <%= render 'edit_modal', appointment: appointment %>
<% end %>
</div>